@model CustomerRegistration.Models.Address

@{
    ViewData["Title"] = "Editar Endereço";
}

<h1>Editar Endereço</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Tipo</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div>
        <label>Cidade</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div>
        <label>Estado</label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div>
        <label>CEP</label>
        <input asp-for="Cep" class="form-control" />
        <span asp-validation-for="Cep" class="text-danger"></span>
    </div>
    <div>
        <label>ID do Cliente</label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a asp-action="List" class="btn btn-secondary">Cancelar</a>
</form>
